<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <strong>CEGEFOS</strong>
    </a>
  
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible wrapper -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <!-- Left links -->
      <ul ngbNav #nav="ngbNav" [(activeId)]="activePath" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li ngbNavItem="Accueil">
          <a ngbNavLink [routerLink]="['/']" (click)="isMenuCollapsed = true"><b>Accueil</b></a>
        </li>
        <li ngbNavItem="imc">
          <a ngbNavLink [routerLink]="['/imc']" (click)="isMenuCollapsed = true"><b>Calcul IMC</b></a>
        </li>
        <li ngbNavItem="convertirDevises">
          <a ngbNavLink [routerLink]="['/convertirDevises']" (click)="isMenuCollapsed = true"><b>Convertir Devises</b></a>
        </li>
        <li ngbNavItem="posts">
          <a ngbNavLink [routerLink]="['/posts']" (click)="isMenuCollapsed = true"><b>Posts</b></a>
        </li>
        <li ngbNavItem="nouveauPost">
          <a ngbNavLink [routerLink]="['/nouveauPost']" (click)="isMenuCollapsed = true"><b>Nouveau Post</b></a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a type="button" class="btn btn-primary me-3" href="/inscription">
          Sign up
        </a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
