<div class="container">
  <div>
    <p><strong>Cegefos est une société de formations en ligne.</strong></p>
    <ul>
      <li>
        <p>Raison sociale : Cegefos</p>
      </li>
      <li><p>Type de structure : SARL</p></li>
      <li><p>Adresse : 28 Rue Xavier Bichat, 72000 Le Mans, France</p></li>
      <li><p>Téléphone : +33 2 43 52 36 45</p></li>
    </ul>
  </div>
  <div>
    <p><strong>Mission: </strong>La société est spécialisée dans les formations numériques en ligne. Elle
       assure un contenu pédagogique et varié ainsi qu’une assistance aux apprenants.
    </p>
  </div>
</div>
